.container{
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.header{
  flex: 15%;
  background-color: lightgray;
}
.menu{
  flex: 5%
  background-color: darkgray;
}
.content{
  flex: 70%;
  backgrounf-color: white;
}
.footer{
  flex: 10%;
  background-color: white;
}
h1{
 color:red;
 text-aglin: center;
}
td{
  text-aglin: center;
}
.tieude {
  color: tomato;
  front-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: black;
  front-size: 15pt;
  top-margin: 6pt;
}
