h1{
 color:red;
 text-aglin: center;
}
td{
  text-aglin: center;
}
.tieude {
  color: tomato;
  front-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: black;
  front-size: 15pt;
  top-margin: 6pt;
}
